extends ../template

block title
  title Блог

block content
  .wrapper.visually-hidden
    include ../common/hero.pug
    main.section.blog
      include ../common/triangle
      .container-blog
        nav.nav-articles#sticker
          ul.nav-articles__list
            -
              var nav = [
                {
                  data: '#article1',
                  text: 'Самое важное в SASS'
                },
                {
                  data: '#article2',
                  text: 'Приёмы в вёрстке, без которых не обходится ни один сайт'
                },
                {
                  data: '#article3',
                  text: 'Самый необходимый набор Gulp плагинов'
                },
                {
                  data: '#article4',
                  text: 'Почему я выбрал Jade'
                }
              ]
            for i in nav
              li.nav-articles__item
                a(href=i.data, data-name= i.data).nav-articles__link #{i.text}
            //-each item in ['Самое важное в SASS', 'Приёмы в вёрстке, без которых не обходится ни один сайт', 'Самый необходимый набор Gulp плагинов', 'Почему я выбрал Jade']
              li.nav-articles__item
                a(href='#').nav-articles__link #{item}
        .articles-block
          -
            var articles = [
              {
                id: 'article1',
                title: 'Самое важное в SASS',
                date: '18.09.2017',
                text: 'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'
              },
              {
                id: 'article2',
                title: 'Приёмы в вёрстке, без которых не обходится ни один сайт',
                date: '20.10.2017',
                text: 'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'
              },
              {
                id: 'article3',
                title: 'Самый необходимый набор Gulp плагинов',
                date: '09.11.2017',
                text: 'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'
              },
              {
                id: 'article4',
                title: 'Почему я выбрал Jade',
                date: '11.12.2017',
                text: 'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'
              },
            ]
          for article in articles 
            article.article(id=article.id, data-name= article.data)
              h2.article__title #{article.title}
              .article__date #{article.date}
              .article__text #{article.text}
  include ../common/footer
  include ../common/full_screen_menu.pug

