extends ../template

block title
  title Мои работы

block content
  .wrapper.visually-hidden
    include ../common/hero
    main.section.my-works
      include ../common/triangle
      .container.container-works
        .block-section-title
          .title-background
          .block-title.block-title-works Мои работы
        .block-slider
          .slider
            .slider__description(data-slide='1').slider__slide--active
              .slider__description--info
                .title-wrapper
                  .block-subtitle.slider__title Сайт школы онлайн образования
                .slider__text html, css, javascript
                .slider__link-block
                  a(href="#").slider__link Посмотреть Сайт
                    .slider__link--pic
                      svg.link-svg
                        use(xlink:href= 'assets/images/icons.svg#link')
            .slider__main-pic(data-slide='1').slider__slide--active
              .slider__main-pic--block
                img(src='assets/images/work-1.png', alt="скриншот сайта №1").slider__main-pic--img
            .slider__description(data-slide='2')
              .slider__description--info
                .title-wrapper
                  .block-subtitle.slider__title Сайт школы онлайн образования-2
                .slider__text html, css, javascript
                .slider__link-block
                  a(href="#").slider__link Посмотреть Сайт
                    .slider__link--pic
                      svg.link-svg
                        use(xlink:href= 'assets/images/icons.svg#link')
            .slider__main-pic(data-slide='2')
              .slider__main-pic--block
                img(src='http://fakeimg.pl/643x416/?text=2&font=lobster', alt="скриншот сайта №2").slider__main-pic--img
            .slider__description(data-slide='3')
              .slider__description--info
                .title-wrapper
                  .block-subtitle.slider__title Сайт школы онлайн образования-3
                .slider__text html, css, javascript
                .slider__link-block
                  a(href="#").slider__link Посмотреть Сайт
                    .slider__link--pic
                      svg.link-svg
                        use(xlink:href= 'assets/images/icons.svg#link')
            .slider__main-pic(data-slide='3')
              .slider__main-pic--block
                img(
                  src='http://fakeimg.pl/643x416/?text=3&font=lobster', 
                  alt="скриншот сайта №3"
                ).slider__main-pic--img
            .slider__description(data-slide='4')
              .slider__description--info
                .title-wrapper
                  .block-subtitle.slider__title Сайт школы онлайн образования-4
                .slider__text html, css, javascript
                .slider__link-block
                  a(href="#").slider__link Посмотреть Сайт
                    .slider__link--pic
                      svg.link-svg
                        use(xlink:href= 'assets/images/icons.svg#link')
            .slider__main-pic(data-slide='4')
              .slider__main-pic--block
                img(src='http://fakeimg.pl/643x416/?text=4&font=lobster', alt="скриншот сайта №4").slider__main-pic--img
            .slider__menu
              .slider__btn-block
                .slider__menu--prev-img
                  img(
                    src='assets/images/work-1.png', 
                    alt="скриншот сайта №1",
                    data-slide-thumb="1"
                  ).slider__prev-pic--img              
                  img(
                    src='http://fakeimg.pl/643x416/?text=2&font=lobster', 
                    alt="скриншот сайта №2"
                    data-slide-thumb="2"
                  ).slider__prev-pic--img         
                  img(
                    src='http://fakeimg.pl/643x416/?text=3&font=lobster', 
                    alt="скриншот сайта №3"
                    data-slide-thumb="3"
                  ).slider__prev-pic--img                
                  img(
                    src='http://fakeimg.pl/643x416/?text=4&font=lobster', 
                    alt="скриншот сайта №4"
                    data-slide-thumb="4"
                  ).slider__prev-pic--img.slider__thumb--visible       
                  .slider__menu--prev
                    svg.arrow-down
                      use(xlink:href='assets/images/icons.svg#arrow_down')                    
                .slider__menu--next-img
                  img(
                    src='assets/images/work-1.png', 
                    alt="скриншот сайта №1"
                    data-slide-thumb="1"
                  ).slider__next-pic--img
                  img(
                    src='http://fakeimg.pl/643x416/?text=2&font=lobster', 
                    alt="скриншот сайта №2"
                    data-slide-thumb="2"
                  ).slider__next-pic--img.slider__thumb--visible
                  img(
                    src='http://fakeimg.pl/643x416/?text=3&font=lobster', 
                    alt="скриншот сайта №3"
                    data-slide-thumb="3"
                  ).slider__next-pic--img
                  img(
                    src='http://fakeimg.pl/643x416/?text=4&font=lobster', 
                    alt="скриншот сайта №4"
                    data-slide-thumb="4"
                  ).slider__next-pic--img
                  .slider__menu--next
                    svg.arrow-up
                      use(xlink:href='assets/images/icons.svg#arrow_down')               
    section.section.reviews
      .reviews__background-wrapper
        img(src="assets/images/works-bg.png", alt="").reviews__background-image
      .block-title.reviews__title Что обо мне говорят
        svg.reviews__title--background
         use(xlink:href= 'assets/images/icons.svg#about_header').reviews__title--background-svg
      .reviews__block
        ul.reviews__list
          li.reviews__item
            .reviews__text
              p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .reviews__author
              .reviews__author--pic
                img(src="assets/images/dkoval.jpg", alt="аватар").reviews__author--img
              .reviews__author--name-block
                .reviews__author--name Ковальчук Дмитрий
                .reviews__author--profession основатель LoftSchool
          li.reviews__item
            .reviews__text
              p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
            .reviews__author
              .reviews__author--pic
                img(src="assets/images/vsabantsev.png", alt="аватар").reviews__author--img
              .reviews__author--name-block
                .reviews__author--name Сабанцев Владимир
                .reviews__author--profession преподаватель
      //.reviews__form-block
      .reviews__form
        .blur-wrapper
          .reviews__form--blur
        form.form.form-contact#contact
          .form__title Связаться со мной
          .form__row
            label(for="").form__label
              input(type="text", name="" placeholder="Имя").form__input.form__input-contact
          .form__row
            label(for="").form__label
              input(type="email", name="" placeholder="Email").form__input.form__input-contact
          .form__row
            label(for="").form__label
              textarea(name="for__msg", id="for__msg", cols="30", rows="8" placeholder="Ваше сообщение").form__input.form__input-contact.form__input-contact--textarea
          .reviews__form-menu
            input(type="submit", value="Отправить", name="form_submit", form="contact").form__button.form__button--submit
            input(type="reset", value="Очистить", name="form_reset", form="contact").form__button.form__button--reset
  include ../common/footer
  include ../common/full_screen_menu.pug
